{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="This is social network html5 template available in themeforest......" />
	<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
	<meta name="robots" content="index, follow" />
	
    <title>Vibenest - {% block 'title' %}{% endblock %}</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'user/css/style.css' %}" /> 
	<link rel="stylesheet" href="{% static 'user/css/ionicons.min.css' %}" />
	<link rel="stylesheet" href="{% static 'user/css/font-awesome.min.css' %}" />

	<!--Google Font-->
	<link href="{% static 'user/../../fonts.googleapis.com/css0b81.css?family=Lato:300,400,400i,700,700i' %}" rel="stylesheet">

	<!--Favicon-->
	<link rel="shortcut icon" type="image/png" href="{% static 'user/images/fav.png' %}" />

    {% block 'css' %}{% endblock %}
</head>

<body>

	<!-- Header -->


	<!--Header End-->

        {% block 'main' %}{% endblock %}
        
    <!-- Footer -->
	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="footer-wrapper">
					<div class="col-md-3 col-sm-3">
						<a href="#"><img src="{% static 'user/images/image.png' %}" width="220"  alt="" class="footer-logo" /></a>
						<ul class="list-inline social-icons">
							<li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
							<li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
							<li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
							<li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
							<li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
						</ul>
					</div>
					<div class="col-md-2 col-sm-2">
						<h5>For individuals</h5>
						<ul class="footer-links">
							<li><a href="#">Signup</a></li>
							<li><a href="#">login</a></li>
							<li><a href="#">Explore</a></li>
							<li><a href="#">Finder app</a></li>
							<li><a href="#">Features</a></li>
							<li><a href="#">Language settings</a></li>
						</ul>
					</div>
					<div class="col-md-2 col-sm-2">
						<h5>For businesses</h5>
						<ul class="footer-links">
							<li><a href="#">Business signup</a></li>
							<li><a href="#">Business login</a></li>
							<li><a href="#">Benefits</a></li>
							<li><a href="#">Resources</a></li>
							<li><a href="#">Advertise</a></li>
							<li><a href="#">Setup</a></li>
						</ul>
					</div>
					<div class="col-md-2 col-sm-2">
						<h5>About</h5>
						<ul class="footer-links">
							<li><a href="#">About us</a></li>
							<li><a href="#">Contact us</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms</a></li>
							<li><a href="#">Help</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-3">
						<h5>Contact Us</h5>
						<ul class="contact">
							<li><i class="fa fa-phone" style="font-size:24px;color:blueviolet"></i>+1 (234) 222 0754</li>
							<li><i class="fa fa-envelope" style="font-size:24px;color:blueviolet;"></i>info@thunder-team.com</li>
							<li><i class="fa fa-map-marker" style="font-size:24px;color:blueviolet;"></i>228 Park Ave S NY, USA</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<p>copyright @thunder-team 2016. All rights reserved</p>
		</div>
	</footer>

	<!-- Footer End  -->

	<!-- Preloader -->

	<div id="spinner-wrapper">
		<div class="spinner"></div>
	</div>

	<!-- Preloader End-->

	<!-- Scripts -->
	<script src="{% static 'user/js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'user/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'user/js/jquery.appear.min.js' %}"></script>
	<script src="{% static 'user/js/jquery.incremental-counter.js' %}"></script>
	<script src="{% static 'user/js/script.js' %}"></script>
	{% block 'js' %}{% endblock %}
</body>

</html>